<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav&fot.css') }}">
</head>
<body>
    <footer class="footer">
        
        <!-- Columna 1: Isotipo -->
        <div class="isotipo">
            <img src="../static/img/logo.png" alt="Isotipo" class="footer-logo">
        </div>

        <!-- Columna 2: Mapa -->
        <div class="footer-section mapa">
            <h3>Ubicación</h3>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!4v1758667679996!6m8!1m7!1szEMt_U0sM8rcGR5eB9vD3Q!2m2!1d4.622639012543602!2d-74.09063756562665!3f228.74!4f2.799999999999997!5f0.7899125318214018"
              width="100%" 
              height="200" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy">
            </iframe>
        </div>

        <!-- Columna 3: Contacto -->
        <div class="footer-section contacto">
            <img src="../static/img/domicilio.png" alt="" style="width: 280px;">
        </div>
    </footer>
</body>
</html>
