<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tercer.css') }}">
</head>
<body>
    <div class="menu-container" style="background-color:#F2BA5C; padding:40px 20px;">

    <!-- Arepas -->
    <section class="menu-section arepas">
        <h2 style="color:#4D1B00;">Arepas</h2>
        <div class="menu-grid">
            <div class="menu-item" style="background-color:#E35110; color:#F2BA5C;">
                <img src="../static/img/arepa-modelo.png" alt="Arepa rellena mixta">
                <h3 style="color:#F7B03E;">Arepa rellena mixta</h3>
                <p style="color:#4D1B00;">Carne y pollo</p>
                <span class="price" style="color:#B71600;">$14.500</span>
            </div>
            <div class="menu-item" style="background-color:#E35110; color:#F2BA5C;">
                <img src="../static/img/arepa-modelo.png" alt="Arepa super quesuda">
                <h3 style="color:#F7B03E;">Arepa super quesuda</h3>
                <p style="color:#4D1B00;">Doble queso</p>
                <span class="price" style="color:#B71600;">$6.200</span>
            </div>
            <div class="menu-item" style="background-color:#E35110; color:#F2BA5C;">
                <img src="../static/img/arepa-modelo.png" alt="Arepa paisa con jamón y queso">
                <h3 style="color:#F7B03E;">Arepa paisa con jamón y queso</h3>
                <p style="color:#4D1B00;">Jamón y queso</p>
                <span class="price" style="color:#B71600;">$3.500</span>
            </div>
        </div>
    </section>
</div>

</body>
</html>